<h2>Kundenliste</h2>

<div class="d-flex justify-content-between my-4">
    <button class="btn btn-primary">
        Neuer Kunde
    </button>
    <button class="btn btn-outline-secondary" (click)="loadCustomers()">
        Aktualisieren
    </button>
</div>

@if(errorMessage !== null) {
    <app-error-box>{{errorMessage}}</app-error-box>
}

@if(loading) {
   <app-loading-indicator></app-loading-indicator>
} @else if (errorMessage === null) {
    <app-customer-table [customers]="customers" (deleteCustomer)="deleteCustomer($event)"></app-customer-table>
}